<head>
<!-- This is the CSS for all the pages-->
	<style>
		h1 {
    		color: white;
    		font-family: Verdana;
   			font-size: 250%;
		}

		<!-- This is for paragraph text -->
		p {
			color: maroon;
			font-family: Verdana;
			font-size: 80%;
		}
    
		<!-- This is for links -->
    		a { 
      font-size: 120%;
      font-family: Verdana;
    }

		<!-- This is for tables -->
		table, th, td {
    		border: 2px solid black;
    		border-collapse: collapse;
		}
	<!-- table padding -->
		th, td {
    padding: 5px;
	}

  </style>
<head>
  
