<head>
	<style>
		h1 {
    		color: white;
    		font-family: Verdana;
   			font-size: 250%;
		}
	
		p {
			color: maroon;
			font-family: Verdana;
			font-size: 80%;
		}
    
   
    a { 
      font-size: 120%;
      font-family: Verdana;
    }
  </style>
<head>
  
